<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @line_item.location %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @line_item.plan %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
